[user]
  name = asyks
  email = aaron@aaronsykes.com
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  excludesfile = /Users/aaronsykes/.gitignore_global
[core]
  editor = vim
[push]
  default = current
