[user]
  name = asyks
  email = aaron@aaronsykes.com
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  editor = vim
  excludesfile = ~/.gitignore-global
[push]
  default = current
